.activechat-container {
  margin-top: 3%;
}

.chat-container {
  border: 5px solid lightgray;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 2vw 8vw;
  height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.chat-bubble {
  margin-bottom: 1vh;
}
