.activechat-container {
  margin-top: 3%;
}

.chat-container {
  border: 5px solid lightgray;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 8vw;
  padding-right: 8vw;
  height: 78vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
